<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="sort-container">
        <span class="sort-toggle">
          poređaj po kvalitetu
          <img class="sort-direction" [class.rotate]="sortDirection==='asc'" src="./assets/svg/chevron-down.svg">
        </span>
        <span class="sort-toggle">
          poređaj po imenu
          <img class="sort-direction" [class.rotate]="sortDirection==='asc'" src="./assets/svg/chevron-down.svg">
        </span>
      </div>
    </div>
  </div>
  <div class="row mx-2 g-5">
    <div *ngFor="let station of stations" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
      <app-card [station]="station" [routerLink]="['../detaljno/'+station.info.id]"></app-card>
    </div>
  </div>
</div>