<div class="row card">
  <div class="col">
    <div class="row">
      <div class="col" style="max-width: 100px;">
        <div class="aiq-display">
          {{station?.airQuality?.aqi}}
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="location">{{station?.info?.location}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="preciseLocation">{{station?.info?.preciseLocation}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col tempereature">
            <img class="temp-icon" src="./assets/svg/thermometer.svg">
            <span>{{station?.meteo?.temperature}}°C</span>
          </div>
          <div class="col humidity">
            <img class="humi-icon" src="./assets/svg/droplet.svg">
            <span>{{station?.meteo?.humidity}}%</span>
          </div>
          <div class="col reportsv">
            <img class="report-icon" src="./assets/svg/cloud.svg">
            <span>{{station?.meteo?.report}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Kvalitet vazduha je <span style="color:#4AB916">dobar</span>.
      </div>
    </div>
  </div>
</div>