.container-fluid {
  min-height: 100vh;
  transition: all 1s;
  .header-container {
    margin-top: 40px;
    opacity: 0.8;
    .back-link {
      padding: 28px 20px 25px 20px;
      font-size: 14px;
      img {
        opacity: 0.6;
        width: 21px;
        height: 21px;
        transform: rotate(90deg);
        position: relative;
        top: -1px;
      }
    }
  }
  .header-container:hover {
    cursor: pointer;
    opacity: 1;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
}
