.navbar {
  width: 100vw;
  box-shadow: 0px 0px 10px 0px rgba(3, 0, 39, 0.1);
  padding-right: 10px;
  .navbar-brand {
    img {
      height: 50px;
      position: relative;
      top: 2px;
    }
  }
  .navbar-collapse {
    padding-left: 15px;
  }
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.under-development {
  position: absolute;
  top: 25px;
  left: 50px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: red;
  padding: 0px 7px 0px 7px;
  transform: rotate(-30deg);
  box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
