<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/svg/logo.svg">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <hr style="opacity: 0.1;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['stanice','spisak']" [routerLinkActive]="'active'">Spisak</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['stanice','karta']" [routerLinkActive]="'active'">Karta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['o','sistemu']" [routerLinkActive]="'active'">O sistemu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['o','mjerenjima']" [routerLinkActive]="'active'">Šta mjerenja znače?</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="under-development">
    sajt u izradi
  </div>
</nav>
